/* #box{
    background-color: blue;
}
.heading{
    color:red;
}
button{
    color: white;
    background-color: green;
} */
 /* *{
    font-family: 'Times New Roman', Times, serif;
 }
 h1{
    text-align: center;
    text-transform: uppercase;
 }
 #outer{
    font-size: 25px;
 }
 #inner{
    font-size: 10px;
 } */
/* 
 div{
    height:100px;
    width:100px;
    background-color: green;
    border-radius: 50%;
 } */
  body{
    padding: 0px;
    margin: 0px;
  }
 #navbar{
    height: 60px;
    background-color: black;
 }
 a{
    color:white;
    font-size: 25px;
    text-decoration: none;
    margin: 100px;
 }
 #search{
    background-color: aqua;
    color:black;
 }
 div{
    border: 2px solid black;
    background-color: aqua;
    height: 200px;
    margin-bottom: 2px;
 }
