/* #box{
    background-color: blue;
}
.heading{
    color:red;
}
button{
    color: white;
    background-color: green;
} */
 *{
    font-family: 'Times New Roman', Times, serif;
 }
 h1{
    text-align: center;
    text-transform: uppercase;
 }
 #outer{
    font-size: 25px;
 }
 #inner{
    font-size: 10px;
 }